/* FUNDO TECIDO KAZUHA */
body {
  background: #120808;
  background-image: url('https://www.transparenttextures.com/patterns/dark-fabric.png');
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

/* TITULO DOURADO */
h1, .manga-title {
  color: #FFD700;
  text-align: center;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
  margin-top: 20px;
}

/* LEITURA EM LISTA */
.reader-container img {
  display: block;
  width: 100%;
  max-width: 850px;
  margin: 0 auto 15px auto;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}
